
h1, h2, h4, p, figure, img {  
    margin: 0;  
    padding:0;
}  
#container {  
    width: 80%;  
    margin: 20px auto;  
}  
header, footer {  
    clear: both;  
    background-color: #333;  
    color: #fff;  
    text-align: center;  
}  
article, aside {  
    float: left;  
    padding: 10px;  
}  
article {  
    box-sizing: border-box;
    width: 37.5%;  
}  
aside {  
    box-sizing: border-box;
    width: 24%;
    font-style: italic;  
    color: #666;  
}  
figure img {  
    width: 37,5%; 
	max-width: 100%;
}  

p ~ p, h4 ~ h4 {  
    margin-top: 20px;  
}
