--- 

Nombre: "Pablo"
Apellidos: "Naveira López"
Edad: 30
Viejoven: yes
Marketing: >

  Domino el copy y el SEO.
  He trabajado con google ADS en negocios personales y en webs creadas.
  Domino el inbound márketing y la gestión de redes sociales.

Vídeo:  >

  Domino Premiere, Avid y Sony Vegas para edición de vídeo.
  Soy un editor experto aunque no me haya dedicado a eso.

Cursos: 

  Grabación profesional cámaras DSLR.
  Máster de Marketing Online en Aula CM. 
  Máster online en JS y React.
  Máster online en PHP y Laravel. 



